@font-face{
    font-family: 'SourceHanSans';
    src: url('../fonts/SourceHanSansJP/SourceHanSansJP-Medium.woff2');
    src: url('../fonts/SourceHanSansJP/SourceHanSansJP-Medium.woff');
    src: url('../fonts/SourceHanSansJP/SourceHanSansJP-Medium.otf');
}

*{
    font-family: 'SourceHanSans', sans-serif;
}